  
	  ul{
	      color: black;
		  }
	   ul li {
	       margin: 20px 20px 20px 20px;
		   }
/*.content {
	width: 500px;
	margin: 0 auto;
	text-align: center;
    background: #e3e3e3;
	}*/
